<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a {
            border: solid;
            background-color: cadetblue;
            margin: 2px;
        }
    </style>
</head>
<body>
    <h1>All the Comments Are here:</h1>

    <% for( let index = 0; index < comments.length; index++ ) { %>
       <div id=<%= comments[index].id %> >
           <h5> <%=comments[index].username %>:</h5>
           <p><%= comments[index].comment %></p>

            <a href= <%= '/comments/' + comments[index].id %>>*Details*</a>
            <a href="/comments/<%= comments[index].id %>/update">~Update~</a>
            <!-- <a href="/comments/<%= comments[index].id %>/delete">Delete</a> -->
        </div>
    <% } %>

    <a href="/comments/new">Write a comment</a>

</body>
</html>