<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> </title>
</head>
<body>
    <h2><%= product.name %>:</h2>
    <ul>
        <li>Price: $<%= product.price %></li>
        <li>Category: <%= product.category %></li>
    </ul>
    <a href="/products/<%= product._id %>/edit">Edit product: <%= product.name %></a>
    <form method="POST" action="/products/<%=product._id%>?_method=DELETE">
        <button>Delete <%= product.name %></button>
    </form>
    <hr>
    <a href="/products">Go back</a>
</body>
</html>